.head {
    text-align: center;
}

.accordion {
    max-width: 400px;
    margin: auto;
}
.accord {
    border-top: 1px solid #cec8c8;
    margin-bottom: 10px;
}
.accord:hover .imageMem{
    color: rgb(7, 141, 141);
    display: block;
}
.accord-input {
    appearance: none;
    position: absolute;
}
.accord-input:checked ~ .imageMem {
    display: block;
}
.accord-title {
    display: block;
    cursor: pointer;
}
.imageMem {
    text-align: center;
    display: none;
    position: relative;

}
.image {
    width: 50%;
    height: auto;
}